html,
body {
    height: 100%;
}

.content {
    background-color: #ECECEC;
    min-height: 100%;
}

.btn-danger,
.btn-success {
    width: 100%;
}

.btn-default,
.btn-primary {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: 0 !important;
    width: 15%;
}

.btn-default,
.btn-primary:focus {
    outline: none !important;
    background-color: #FFFFFF !important;
}

.panel-default {
    border-top-left-radius: 0 !important;
}

#mask {
    position: absolute;
    top: -1px;
    left: 1px;
    width: 45.5%;
    height: 1px;
    background-color: #fff;
}

.panel-default {
    position: relative;
}

.float-right {
    float: right;
}